@using ASD.VisualPlanner.BlazorWebApp.Components
@inherits LayoutComponentBase


<PageTitle>ASD.VisualPlanner.BlazorWebApp</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-4" >
            <PlannerHeader LogoImage="Images/NISSEN-Vandret-MASTER.png" />
           
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

